# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap

#CocoaPods
#
# According to Fabio's answer, seems checking in the Pods
# folder is a recommended setup for development pods. This also
# allow developer to try it out without Cocoapods installed.
#
# http://stackoverflow.com/a/22323702/1013897
#
Pods
