<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpringApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A4FDA321A6E44780099D309</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A4FDA3C1A6E44780099D309</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9641173A1A5BE90A000E3A5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9641174F1A5BE90A000E3A5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
